<h1>Update Budget</h1>

<h2>Edits for "<%= @budget.name %>"</h2>

  <p><form action="/budgets/<%= @budget.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="budget_name">Edit the Budget Name:</label>
    <br>
    <input type="text" name="name" id="budget_name" pattern="[^\s][a-zA-Z0-9\s]+" required value=<%= @budget.name %>></input>
    <br><br>
    <br>
    <label for="budget_balance">Edit allocated monthly amount: </label>
    <br>
    <input type="number" name="balance" id="budget_balance" required value=<%= @budget.balance %>></input>
    <br><br>
    <input type="submit" value="Update Budget">
  </form></p><form method="post" action="/budgets/<%= @budget.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Budget">
  </form>
