<h1><a href='/budgets/<%= @budget.id %>/edit'><%= @budget.name %></a> Purchases</h1>

<% current_user.purchases.each do |p| %>
  <% if p.budget_id == @budget.id %>
  <p>$<a href='/purchases/<%= p.id %>/edit'><%= p.amount %></a></p>
  <% end %>
<% end %>
<a href=/purchases/<%= @budget.id %>/new>Log a Purchase</a>
<br><br>
<a href=/budgets>Back to all budgets</a>
