<a href=/users/home>Home</a>
|
<a href=/budgets>Back to all budgets</a>
<br><br>
<h1><a href='/budgets/<%= @budget.id %>/edit'><%= @budget.month %> <%= @budget.name %></a> Purchases</h1>
<br>
<% purchases_by_date.each do |p| %>
  <% if p.budget_id == @budget.id %>
    <p>$<a href='/purchases/<%= p.id %>/edit'><%= p.amount %>_____________<%= p.date %></a></p>
  <% end %>
<% end %>
<br>
<h3>Remainder in <%= @budget.name %> Budget: <b>$<%= remaining_balance %></b></h3>
<br>
<a href=/purchases/<%= @budget.id %>/new>Log a Purchase</a>
