<a href=/users/home>Home</a>
|
<a href="/budgets/<%= @budget.id %>">Back to <%= @budget.name %> budget</a>
|
<a href=/budgets>Back to all budgets</a>
<br><br>
<h1>Edit Purchase for <%= @budget.name %></h1>

<p>
  <form action="/purchases/<%= @purchase.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="purchase_amount">Purchase Amount: </label>
    <br>
    <input type="number" name="amount" id="purchase_amount" value="<%= @purchase.amount %>"required></input>
    <br><br>
    <label for="purchase_date">Purchase Date: </label>
    <br>
    <input type="date" name="date" id="purchase_date" value="<%= @purchase.date %>" min="<%= Date.parse(@budget.month) %>"required></input>

    <br><br>

    <input type="submit" value="Update Purchase">
  </form>
</p>
<form method="post" action="/purchases/<%= @purchase.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Purchase">
</form>
